<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>1065</integer>
    <key>capHeight</key>
    <integer>700</integer>
    <key>copyright</key>
    <string>Copyright 2026 The Wittgenstein Project Authors (https://github.com/jrgdrs/Wittgenstein)</string>
    <key>descender</key>
    <integer>-435</integer>
    <key>familyName</key>
    <string>Wittgenstein</string>
    <key>openTypeHeadCreated</key>
    <string>2023/12/10 12:24:40</string>
    <key>openTypeHheaAscender</key>
    <integer>1065</integer>
    <key>openTypeHheaDescender</key>
    <integer>-435</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameDesigner</key>
    <string>Jörg Drees</string>
    <key>openTypeNameDesignerURL</key>
    <string>http://www.typobold.com</string>
    <key>openTypeNameLicense</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: https://openfontlicense.org</string>
    <key>openTypeNameLicenseURL</key>
    <string>https://openfontlicense.org</string>
    <key>openTypeNameManufacturer</key>
    <string>Jörg Drees</string>
    <key>openTypeNameManufacturerURL</key>
    <string>http://www.typobold.com</string>
    <key>openTypeOS2Panose</key>
    <array>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
    </array>
    <key>openTypeOS2StrikeoutPosition</key>
    <integer>250</integer>
    <key>openTypeOS2StrikeoutSize</key>
    <integer>50</integer>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>1065</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-435</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2VendorID</key>
    <string>TBLD</string>
    <key>openTypeOS2WinAscent</key>
    <integer>1180</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>435</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-16</integer>
      <integer>0</integer>
      <integer>500</integer>
      <integer>516</integer>
      <integer>700</integer>
      <integer>716</integer>
      <integer>1065</integer>
      <integer>1081</integer>
    </array>
    <key>postscriptFontName</key>
    <string>Wittgenstein-Regular</string>
    <key>postscriptOtherBlues</key>
    <array>
      <integer>-451</integer>
      <integer>-435</integer>
    </array>
    <key>postscriptStemSnapH</key>
    <array>
      <integer>90</integer>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <integer>40</integer>
    </array>
    <key>postscriptUnderlinePosition</key>
    <integer>-75</integer>
    <key>styleName</key>
    <string>Regular</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>versionMajor</key>
    <integer>1</integer>
    <key>versionMinor</key>
    <integer>510</integer>
    <key>xHeight</key>
    <integer>500</integer>
  </dict>
</plist>
