<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.A</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
      <string>Abreve</string>
      <string>Acircumflex</string>
      <string>Adieresis</string>
      <string>Agrave</string>
      <string>Amacron</string>
      <string>Aogonek</string>
      <string>Aring</string>
      <string>Atilde</string>
      <string>a.sc</string>
      <string>aacute.sc</string>
      <string>abreve.sc</string>
      <string>acircumflex.sc</string>
      <string>adieresis.sc</string>
      <string>agrave.sc</string>
      <string>amacron.sc</string>
      <string>aogonek.sc</string>
      <string>aring.sc</string>
      <string>atilde.sc</string>
    </array>
    <key>public.kern1.C</key>
    <array>
      <string>C</string>
      <string>Cacute</string>
      <string>Ccaron</string>
      <string>Ccedilla</string>
      <string>Ccircumflex</string>
      <string>Cdotaccent</string>
      <string>c.sc</string>
      <string>cacute.sc</string>
      <string>ccaron.sc</string>
      <string>ccedilla.sc</string>
      <string>ccircumflex.sc</string>
      <string>cdotaccent.sc</string>
    </array>
    <key>public.kern1.D</key>
    <array>
      <string>D</string>
      <string>Dcaron</string>
      <string>Dcroat</string>
      <string>Eth</string>
      <string>d.sc</string>
      <string>dcaron.sc</string>
      <string>dcroat.sc</string>
      <string>eth.sc</string>
    </array>
    <key>public.kern1.E</key>
    <array>
      <string>AE</string>
      <string>E</string>
      <string>Eacute</string>
      <string>Ecaron</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>Edotaccent</string>
      <string>Egrave</string>
      <string>Emacron</string>
      <string>Eogonek</string>
      <string>Etilde</string>
      <string>OE</string>
      <string>ae.sc</string>
      <string>e.sc</string>
      <string>eacute.sc</string>
      <string>ecaron.sc</string>
      <string>ecircumflex.sc</string>
      <string>edieresis.sc</string>
      <string>edotaccent.sc</string>
      <string>egrave.sc</string>
      <string>emacron.sc</string>
      <string>eogonek.sc</string>
      <string>etilde.sc</string>
      <string>oe.sc</string>
    </array>
    <key>public.kern1.G</key>
    <array>
      <string>G</string>
      <string>Gbreve</string>
      <string>Gcircumflex</string>
      <string>Gcommaaccent</string>
      <string>Gdotaccent</string>
      <string>Gmacron</string>
      <string>g.sc</string>
      <string>gbreve.sc</string>
      <string>gcircumflex.sc</string>
      <string>gcommaaccent.sc</string>
      <string>gdotaccent.sc</string>
      <string>gmacron.sc</string>
    </array>
    <key>public.kern1.I</key>
    <array>
      <string>H</string>
      <string>Hbar</string>
      <string>Hcircumflex</string>
      <string>I</string>
      <string>Iacute</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Idotaccent</string>
      <string>Igrave</string>
      <string>Imacron</string>
      <string>Iogonek</string>
      <string>Itilde</string>
      <string>h.sc</string>
      <string>hbar.sc</string>
      <string>hcircumflex.sc</string>
      <string>i.sc</string>
      <string>i_dotaccentcomb.sc</string>
      <string>iacute.sc</string>
      <string>icircumflex.sc</string>
      <string>idieresis.sc</string>
      <string>igrave.sc</string>
      <string>imacron.sc</string>
      <string>iogonek.sc</string>
      <string>itilde.sc</string>
    </array>
    <key>public.kern1.J</key>
    <array>
      <string>IJ</string>
      <string>Iacute_J.loclNLD</string>
      <string>J</string>
      <string>Jacute</string>
      <string>Jcircumflex</string>
      <string>ij.sc</string>
      <string>j.sc</string>
      <string>jacute.sc</string>
      <string>jcircumflex.sc</string>
      <string>iacute_j.loclNLD.sc</string>
    </array>
    <key>public.kern1.K</key>
    <array>
      <string>K</string>
      <string>Kcommaaccent</string>
      <string>k.sc</string>
      <string>kcommaaccent.sc</string>
    </array>
    <key>public.kern1.L</key>
    <array>
      <string>L</string>
      <string>Lacute</string>
      <string>Lcaron</string>
      <string>Lcommaaccent</string>
      <string>Lslash</string>
      <string>Lcommaaccent.loclMAH</string>
      <string>l.sc</string>
      <string>lacute.sc</string>
      <string>lcaron.sc</string>
      <string>lcommaaccent.sc</string>
      <string>lslash.sc</string>
      <string>lcommaaccent.loclMAH.sc</string>
    </array>
    <key>public.kern1.N</key>
    <array>
      <string>N</string>
      <string>Nacute</string>
      <string>Ncaron</string>
      <string>Ncommaaccent</string>
      <string>Ntilde</string>
      <string>Ncommaaccent.loclMAH</string>
      <string>n.sc</string>
      <string>nacute.sc</string>
      <string>ncaron.sc</string>
      <string>ncommaaccent.sc</string>
      <string>ntilde.sc</string>
      <string>ncommaaccent.loclMAH.sc</string>
    </array>
    <key>public.kern1.O</key>
    <array>
      <string>O</string>
      <string>Oacute</string>
      <string>Ocircumflex</string>
      <string>Odieresis</string>
      <string>Ograve</string>
      <string>Ohungarumlaut</string>
      <string>Omacron</string>
      <string>Oslash</string>
      <string>Otilde</string>
      <string>Q</string>
      <string>o.sc</string>
      <string>oacute.sc</string>
      <string>ocircumflex.sc</string>
      <string>odieresis.sc</string>
      <string>ograve.sc</string>
      <string>ohungarumlaut.sc</string>
      <string>omacron.sc</string>
      <string>oslash.sc</string>
      <string>otilde.sc</string>
      <string>q.sc</string>
    </array>
    <key>public.kern1.R</key>
    <array>
      <string>R</string>
      <string>Racute</string>
      <string>Rcaron</string>
      <string>Rcommaaccent</string>
      <string>r.sc</string>
      <string>racute.sc</string>
      <string>rcaron.sc</string>
      <string>rcommaaccent.sc</string>
    </array>
    <key>public.kern1.S</key>
    <array>
      <string>S</string>
      <string>Sacute</string>
      <string>Scaron</string>
      <string>Scedilla</string>
      <string>Scircumflex</string>
      <string>Scommaaccent</string>
      <string>s.sc</string>
      <string>sacute.sc</string>
      <string>scaron.sc</string>
      <string>scedilla.sc</string>
      <string>scircumflex.sc</string>
      <string>scommaaccent.sc</string>
    </array>
    <key>public.kern1.T</key>
    <array>
      <string>T</string>
      <string>Tcaron</string>
      <string>Tcedilla</string>
      <string>Tcommaaccent</string>
      <string>t.sc</string>
      <string>tcaron.sc</string>
      <string>tcedilla.sc</string>
      <string>tcommaaccent.sc</string>
    </array>
    <key>public.kern1.U</key>
    <array>
      <string>U</string>
      <string>Uacute</string>
      <string>Ubreve</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Ugrave</string>
      <string>Uhungarumlaut</string>
      <string>Umacron</string>
      <string>Uogonek</string>
      <string>Uring</string>
      <string>Utilde</string>
      <string>u.sc</string>
      <string>uacute.sc</string>
      <string>ubreve.sc</string>
      <string>ucircumflex.sc</string>
      <string>udieresis.sc</string>
      <string>ugrave.sc</string>
      <string>uhungarumlaut.sc</string>
      <string>umacron.sc</string>
      <string>uogonek.sc</string>
      <string>uring.sc</string>
      <string>utilde.sc</string>
    </array>
    <key>public.kern1.W</key>
    <array>
      <string>W</string>
      <string>Wacute</string>
      <string>Wcircumflex</string>
      <string>Wdieresis</string>
      <string>Wgrave</string>
      <string>w.sc</string>
      <string>wacute.sc</string>
      <string>wcircumflex.sc</string>
      <string>wdieresis.sc</string>
      <string>wgrave.sc</string>
    </array>
    <key>public.kern1.Y</key>
    <array>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ycircumflex</string>
      <string>Ydieresis</string>
      <string>Ygrave</string>
      <string>Ytilde</string>
      <string>y.sc</string>
      <string>yacute.sc</string>
      <string>ycircumflex.sc</string>
      <string>ydieresis.sc</string>
      <string>ygrave.sc</string>
      <string>ytilde.sc</string>
    </array>
    <key>public.kern1.Z</key>
    <array>
      <string>Z</string>
      <string>Zacute</string>
      <string>Zcaron</string>
      <string>Zdotaccent</string>
      <string>z.sc</string>
      <string>zacute.sc</string>
      <string>zcaron.sc</string>
      <string>zdotaccent.sc</string>
    </array>
    <key>public.kern1.a</key>
    <array>
      <string>a</string>
      <string>aacute</string>
      <string>abreve</string>
      <string>acircumflex</string>
      <string>adieresis</string>
      <string>agrave</string>
      <string>amacron</string>
      <string>aogonek</string>
      <string>aring</string>
      <string>atilde</string>
    </array>
    <key>public.kern1.brevecomb</key>
    <array>
      <string>brevecomb_acutecomb</string>
      <string>brevecomb_gravecomb</string>
      <string>brevecomb_hookabovecomb</string>
      <string>brevecomb_tildecomb</string>
    </array>
    <key>public.kern1.c</key>
    <array>
      <string>c</string>
      <string>cacute</string>
      <string>ccaron</string>
      <string>ccedilla</string>
      <string>ccircumflex</string>
      <string>cdotaccent</string>
    </array>
    <key>public.kern1.circumflexcomb</key>
    <array>
      <string>circumflexcomb_acutecomb</string>
      <string>circumflexcomb_gravecomb</string>
      <string>circumflexcomb_hookabovecomb</string>
      <string>circumflexcomb_tildecomb</string>
    </array>
    <key>public.kern1.d</key>
    <array>
      <string>d</string>
      <string>dcaron</string>
      <string>dcroat</string>
      <string>eth</string>
    </array>
    <key>public.kern1.dotbelowcomb</key>
    <array>
      <string>dotbelowcomb</string>
    </array>
    <key>public.kern1.e</key>
    <array>
      <string>ae</string>
      <string>e</string>
      <string>eacute</string>
      <string>ecaron</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>edotaccent</string>
      <string>egrave</string>
      <string>emacron</string>
      <string>eogonek</string>
      <string>etilde</string>
      <string>schwa</string>
      <string>oe</string>
    </array>
    <key>public.kern1.g</key>
    <array>
      <string>g</string>
      <string>gbreve</string>
      <string>gcircumflex</string>
      <string>gcommaaccent</string>
      <string>gdotaccent</string>
      <string>gmacron</string>
    </array>
    <key>public.kern1.h</key>
    <array>
      <string>h</string>
      <string>hbar</string>
      <string>hcircumflex</string>
    </array>
    <key>public.kern1.hookabovecomb</key>
    <array>
      <string>hookabovecomb</string>
    </array>
    <key>public.kern1.horncomb</key>
    <array>
      <string>horncomb</string>
    </array>
    <key>public.kern1.i</key>
    <array>
      <string>i</string>
      <string>idotless</string>
      <string>iacute</string>
      <string>icircumflex</string>
      <string>idieresis</string>
      <string>idotaccent</string>
      <string>igrave</string>
      <string>imacron</string>
      <string>iogonek</string>
      <string>itilde</string>
    </array>
    <key>public.kern1.j</key>
    <array>
      <string>ij</string>
      <string>iacute_j.loclNLD</string>
      <string>j</string>
      <string>jdotless</string>
      <string>jacute</string>
      <string>jcircumflex</string>
    </array>
    <key>public.kern1.k</key>
    <array>
      <string>k</string>
      <string>kcommaaccent</string>
    </array>
    <key>public.kern1.l</key>
    <array>
      <string>l</string>
      <string>lacute</string>
      <string>lcaron</string>
      <string>lcommaaccent</string>
      <string>lslash</string>
      <string>lcommaaccent.loclMAH</string>
    </array>
    <key>public.kern1.n</key>
    <array>
      <string>nacute</string>
      <string>ncaron</string>
      <string>ncommaaccent</string>
      <string>ntilde</string>
      <string>ncommaaccent.loclMAH</string>
    </array>
    <key>public.kern1.o</key>
    <array>
      <string>o</string>
      <string>oacute</string>
      <string>ocircumflex</string>
      <string>odieresis</string>
      <string>ograve</string>
      <string>ohungarumlaut</string>
      <string>omacron</string>
      <string>oslash</string>
      <string>otilde</string>
    </array>
    <key>public.kern1.p</key>
    <array>
      <string>p</string>
      <string>thorn</string>
    </array>
    <key>public.kern1.quotedblleft</key>
    <array>
      <string>apostrophemod</string>
    </array>
    <key>public.kern1.r</key>
    <array>
      <string>r</string>
      <string>racute</string>
      <string>rcaron</string>
      <string>rcommaaccent</string>
    </array>
    <key>public.kern1.s</key>
    <array>
      <string>s</string>
      <string>sacute</string>
      <string>scaron</string>
      <string>scedilla</string>
      <string>scircumflex</string>
      <string>scommaaccent</string>
    </array>
    <key>public.kern1.t</key>
    <array>
      <string>t</string>
      <string>tcaron</string>
      <string>tcedilla</string>
      <string>tcommaaccent</string>
    </array>
    <key>public.kern1.u</key>
    <array>
      <string>u</string>
      <string>uacute</string>
      <string>ubreve</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>ugrave</string>
      <string>uhungarumlaut</string>
      <string>umacron</string>
      <string>uogonek</string>
      <string>uring</string>
      <string>utilde</string>
    </array>
    <key>public.kern1.w</key>
    <array>
      <string>w</string>
      <string>wacute</string>
      <string>wcircumflex</string>
      <string>wdieresis</string>
      <string>wgrave</string>
    </array>
    <key>public.kern1.y</key>
    <array>
      <string>y</string>
      <string>yacute</string>
      <string>ycircumflex</string>
      <string>ydieresis</string>
      <string>ygrave</string>
      <string>ytilde</string>
    </array>
    <key>public.kern1.z</key>
    <array>
      <string>z</string>
      <string>zacute</string>
      <string>zcaron</string>
      <string>zdotaccent</string>
    </array>
    <key>public.kern2.A</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
      <string>Abreve</string>
      <string>Acircumflex</string>
      <string>Adieresis</string>
      <string>Agrave</string>
      <string>Amacron</string>
      <string>Aogonek</string>
      <string>Aring</string>
      <string>Atilde</string>
      <string>AE</string>
      <string>a.sc</string>
      <string>aacute.sc</string>
      <string>abreve.sc</string>
      <string>acircumflex.sc</string>
      <string>adieresis.sc</string>
      <string>agrave.sc</string>
      <string>amacron.sc</string>
      <string>aogonek.sc</string>
      <string>aring.sc</string>
      <string>atilde.sc</string>
      <string>ae.sc</string>
    </array>
    <key>public.kern2.C</key>
    <array>
      <string>C</string>
      <string>Cacute</string>
      <string>Ccaron</string>
      <string>Ccedilla</string>
      <string>Ccircumflex</string>
      <string>Cdotaccent</string>
      <string>c.sc</string>
      <string>cacute.sc</string>
      <string>ccaron.sc</string>
      <string>ccedilla.sc</string>
      <string>ccircumflex.sc</string>
      <string>cdotaccent.sc</string>
    </array>
    <key>public.kern2.D</key>
    <array>
      <string>D</string>
      <string>Dcaron</string>
      <string>Dcroat</string>
      <string>Eth</string>
      <string>d.sc</string>
      <string>dcaron.sc</string>
      <string>dcroat.sc</string>
      <string>eth.sc</string>
    </array>
    <key>public.kern2.E</key>
    <array>
      <string>E</string>
      <string>Eacute</string>
      <string>Ecaron</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>Edotaccent</string>
      <string>Egrave</string>
      <string>Emacron</string>
      <string>Eogonek</string>
      <string>Etilde</string>
      <string>e.sc</string>
      <string>eacute.sc</string>
      <string>ecaron.sc</string>
      <string>ecircumflex.sc</string>
      <string>edieresis.sc</string>
      <string>edotaccent.sc</string>
      <string>egrave.sc</string>
      <string>emacron.sc</string>
      <string>eogonek.sc</string>
      <string>etilde.sc</string>
    </array>
    <key>public.kern2.G</key>
    <array>
      <string>G</string>
      <string>Gbreve</string>
      <string>Gcircumflex</string>
      <string>Gcommaaccent</string>
      <string>Gdotaccent</string>
      <string>Gmacron</string>
      <string>g.sc</string>
      <string>gbreve.sc</string>
      <string>gcircumflex.sc</string>
      <string>gcommaaccent.sc</string>
      <string>gdotaccent.sc</string>
      <string>gmacron.sc</string>
    </array>
    <key>public.kern2.I</key>
    <array>
      <string>H</string>
      <string>Hbar</string>
      <string>Hcircumflex</string>
      <string>I</string>
      <string>IJ</string>
      <string>Iacute_J.loclNLD</string>
      <string>Iacute</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Idotaccent</string>
      <string>Igrave</string>
      <string>Imacron</string>
      <string>Iogonek</string>
      <string>Itilde</string>
      <string>h.sc</string>
      <string>hbar.sc</string>
      <string>hcircumflex.sc</string>
      <string>i.sc</string>
      <string>i_dotaccentcomb.sc</string>
      <string>iacute.sc</string>
      <string>icircumflex.sc</string>
      <string>idieresis.sc</string>
      <string>igrave.sc</string>
      <string>imacron.sc</string>
      <string>iogonek.sc</string>
      <string>itilde.sc</string>
      <string>ij.sc</string>
      <string>iacute_j.loclNLD.sc</string>
    </array>
    <key>public.kern2.J</key>
    <array>
      <string>J</string>
      <string>Jacute</string>
      <string>Jcircumflex</string>
      <string>j.sc</string>
      <string>jacute.sc</string>
      <string>jcircumflex.sc</string>
    </array>
    <key>public.kern2.K</key>
    <array>
      <string>K</string>
      <string>Kcommaaccent</string>
      <string>k.sc</string>
      <string>kcommaaccent.sc</string>
    </array>
    <key>public.kern2.L</key>
    <array>
      <string>L</string>
      <string>Lacute</string>
      <string>Lcaron</string>
      <string>Lcommaaccent</string>
      <string>Lslash</string>
      <string>Lcommaaccent.loclMAH</string>
      <string>l.sc</string>
      <string>lacute.sc</string>
      <string>lcaron.sc</string>
      <string>lcommaaccent.sc</string>
      <string>lslash.sc</string>
      <string>lcommaaccent.loclMAH.sc</string>
    </array>
    <key>public.kern2.N</key>
    <array>
      <string>N</string>
      <string>Nacute</string>
      <string>Ncaron</string>
      <string>Ncommaaccent</string>
      <string>Ntilde</string>
      <string>Ncommaaccent.loclMAH</string>
      <string>n.sc</string>
      <string>nacute.sc</string>
      <string>ncaron.sc</string>
      <string>ncommaaccent.sc</string>
      <string>ntilde.sc</string>
      <string>ncommaaccent.loclMAH.sc</string>
    </array>
    <key>public.kern2.O</key>
    <array>
      <string>O</string>
      <string>Oacute</string>
      <string>Ocircumflex</string>
      <string>Odieresis</string>
      <string>Ograve</string>
      <string>Ohungarumlaut</string>
      <string>Omacron</string>
      <string>Oslash</string>
      <string>Otilde</string>
      <string>OE</string>
      <string>Q</string>
      <string>o.sc</string>
      <string>oacute.sc</string>
      <string>ocircumflex.sc</string>
      <string>odieresis.sc</string>
      <string>ograve.sc</string>
      <string>ohungarumlaut.sc</string>
      <string>omacron.sc</string>
      <string>oslash.sc</string>
      <string>otilde.sc</string>
      <string>oe.sc</string>
      <string>q.sc</string>
    </array>
    <key>public.kern2.R</key>
    <array>
      <string>R</string>
      <string>Racute</string>
      <string>Rcaron</string>
      <string>Rcommaaccent</string>
      <string>r.sc</string>
      <string>racute.sc</string>
      <string>rcaron.sc</string>
      <string>rcommaaccent.sc</string>
    </array>
    <key>public.kern2.S</key>
    <array>
      <string>S</string>
      <string>Sacute</string>
      <string>Scaron</string>
      <string>Scedilla</string>
      <string>Scircumflex</string>
      <string>Scommaaccent</string>
      <string>s.sc</string>
      <string>sacute.sc</string>
      <string>scaron.sc</string>
      <string>scedilla.sc</string>
      <string>scircumflex.sc</string>
      <string>scommaaccent.sc</string>
    </array>
    <key>public.kern2.T</key>
    <array>
      <string>T</string>
      <string>Tcaron</string>
      <string>Tcedilla</string>
      <string>Tcommaaccent</string>
      <string>t.sc</string>
      <string>tcaron.sc</string>
      <string>tcedilla.sc</string>
      <string>tcommaaccent.sc</string>
    </array>
    <key>public.kern2.U</key>
    <array>
      <string>U</string>
      <string>Uacute</string>
      <string>Ubreve</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Ugrave</string>
      <string>Uhungarumlaut</string>
      <string>Umacron</string>
      <string>Uogonek</string>
      <string>Uring</string>
      <string>Utilde</string>
      <string>u.sc</string>
      <string>uacute.sc</string>
      <string>ubreve.sc</string>
      <string>ucircumflex.sc</string>
      <string>udieresis.sc</string>
      <string>ugrave.sc</string>
      <string>uhungarumlaut.sc</string>
      <string>umacron.sc</string>
      <string>uogonek.sc</string>
      <string>uring.sc</string>
      <string>utilde.sc</string>
    </array>
    <key>public.kern2.W</key>
    <array>
      <string>W</string>
      <string>Wacute</string>
      <string>Wcircumflex</string>
      <string>Wdieresis</string>
      <string>Wgrave</string>
      <string>w.sc</string>
      <string>wacute.sc</string>
      <string>wcircumflex.sc</string>
      <string>wdieresis.sc</string>
      <string>wgrave.sc</string>
    </array>
    <key>public.kern2.Y</key>
    <array>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ycircumflex</string>
      <string>Ydieresis</string>
      <string>Ygrave</string>
      <string>Ytilde</string>
      <string>y.sc</string>
      <string>yacute.sc</string>
      <string>ycircumflex.sc</string>
      <string>ydieresis.sc</string>
      <string>ygrave.sc</string>
      <string>ytilde.sc</string>
    </array>
    <key>public.kern2.Z</key>
    <array>
      <string>Z</string>
      <string>Zacute</string>
      <string>Zcaron</string>
      <string>Zdotaccent</string>
      <string>z.sc</string>
      <string>zacute.sc</string>
      <string>zcaron.sc</string>
      <string>zdotaccent.sc</string>
    </array>
    <key>public.kern2.a</key>
    <array>
      <string>a</string>
      <string>aacute</string>
      <string>abreve</string>
      <string>acircumflex</string>
      <string>adieresis</string>
      <string>agrave</string>
      <string>amacron</string>
      <string>aogonek</string>
      <string>aring</string>
      <string>atilde</string>
      <string>ae</string>
    </array>
    <key>public.kern2.brevecomb</key>
    <array>
      <string>brevecomb_acutecomb</string>
      <string>brevecomb_gravecomb</string>
      <string>brevecomb_hookabovecomb</string>
      <string>brevecomb_tildecomb</string>
    </array>
    <key>public.kern2.c</key>
    <array>
      <string>c</string>
      <string>cacute</string>
      <string>ccaron</string>
      <string>ccedilla</string>
      <string>ccircumflex</string>
      <string>cdotaccent</string>
    </array>
    <key>public.kern2.circumflexcomb</key>
    <array>
      <string>circumflexcomb_acutecomb</string>
      <string>circumflexcomb_gravecomb</string>
      <string>circumflexcomb_hookabovecomb</string>
      <string>circumflexcomb_tildecomb</string>
    </array>
    <key>public.kern2.d</key>
    <array>
      <string>d</string>
      <string>dcaron</string>
      <string>dcroat</string>
    </array>
    <key>public.kern2.dotbelowcomb</key>
    <array>
      <string>dotbelowcomb</string>
    </array>
    <key>public.kern2.e</key>
    <array>
      <string>e</string>
      <string>eacute</string>
      <string>ecaron</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>edotaccent</string>
      <string>egrave</string>
      <string>emacron</string>
      <string>eogonek</string>
      <string>etilde</string>
      <string>schwa</string>
    </array>
    <key>public.kern2.g</key>
    <array>
      <string>g</string>
      <string>gbreve</string>
      <string>gcircumflex</string>
      <string>gcommaaccent</string>
      <string>gdotaccent</string>
      <string>gmacron</string>
    </array>
    <key>public.kern2.h</key>
    <array>
      <string>h</string>
      <string>hbar</string>
      <string>hcircumflex</string>
    </array>
    <key>public.kern2.hookabovecomb</key>
    <array>
      <string>hookabovecomb</string>
    </array>
    <key>public.kern2.horncomb</key>
    <array>
      <string>horncomb</string>
    </array>
    <key>public.kern2.i</key>
    <array>
      <string>i</string>
      <string>idotless</string>
      <string>iacute</string>
      <string>icircumflex</string>
      <string>idieresis</string>
      <string>idotaccent</string>
      <string>igrave</string>
      <string>imacron</string>
      <string>iogonek</string>
      <string>itilde</string>
      <string>ij</string>
      <string>iacute_j.loclNLD</string>
    </array>
    <key>public.kern2.j</key>
    <array>
      <string>j</string>
      <string>jdotless</string>
      <string>jacute</string>
      <string>jcircumflex</string>
    </array>
    <key>public.kern2.k</key>
    <array>
      <string>k</string>
      <string>kcommaaccent</string>
    </array>
    <key>public.kern2.l</key>
    <array>
      <string>l</string>
      <string>lacute</string>
      <string>lcaron</string>
      <string>lcommaaccent</string>
      <string>lslash</string>
      <string>lcommaaccent.loclMAH</string>
    </array>
    <key>public.kern2.n</key>
    <array>
      <string>nacute</string>
      <string>ncaron</string>
      <string>ncommaaccent</string>
      <string>ntilde</string>
      <string>ncommaaccent.loclMAH</string>
    </array>
    <key>public.kern2.o</key>
    <array>
      <string>eth</string>
      <string>o</string>
      <string>oacute</string>
      <string>ocircumflex</string>
      <string>odieresis</string>
      <string>ograve</string>
      <string>ohungarumlaut</string>
      <string>omacron</string>
      <string>oslash</string>
      <string>otilde</string>
      <string>oe</string>
    </array>
    <key>public.kern2.p</key>
    <array>
      <string>p</string>
      <string>thorn</string>
    </array>
    <key>public.kern2.quotedblleft</key>
    <array>
      <string>apostrophemod</string>
    </array>
    <key>public.kern2.r</key>
    <array>
      <string>r</string>
      <string>racute</string>
      <string>rcaron</string>
      <string>rcommaaccent</string>
    </array>
    <key>public.kern2.s</key>
    <array>
      <string>s</string>
      <string>sacute</string>
      <string>scaron</string>
      <string>scedilla</string>
      <string>scircumflex</string>
      <string>scommaaccent</string>
    </array>
    <key>public.kern2.t</key>
    <array>
      <string>t</string>
      <string>tcaron</string>
      <string>tcedilla</string>
      <string>tcommaaccent</string>
    </array>
    <key>public.kern2.u</key>
    <array>
      <string>u</string>
      <string>uacute</string>
      <string>ubreve</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>ugrave</string>
      <string>uhungarumlaut</string>
      <string>umacron</string>
      <string>uogonek</string>
      <string>uring</string>
      <string>utilde</string>
    </array>
    <key>public.kern2.w</key>
    <array>
      <string>w</string>
      <string>wacute</string>
      <string>wcircumflex</string>
      <string>wdieresis</string>
      <string>wgrave</string>
    </array>
    <key>public.kern2.y</key>
    <array>
      <string>y</string>
      <string>yacute</string>
      <string>ycircumflex</string>
      <string>ydieresis</string>
      <string>ygrave</string>
      <string>ytilde</string>
    </array>
    <key>public.kern2.z</key>
    <array>
      <string>z</string>
      <string>zacute</string>
      <string>zcaron</string>
      <string>zdotaccent</string>
    </array>
  </dict>
</plist>
