<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>I</key>
    <string>I_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>hcircumflex</key>
    <string>hcircumflex.glif</string>
    <key>i.sc</key>
    <string>i.sc.glif</string>
    <key>n.sc</key>
    <string>n.sc.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>q.sc</key>
    <string>q.sc.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>t.sc</key>
    <string>t.sc.glif</string>
    <key>two.osf</key>
    <string>two.osf.glif</string>
    <key>two.tosf</key>
    <string>two.tosf.glif</string>
    <key>v.sc</key>
    <string>v.sc.glif</string>
    <key>w.sc</key>
    <string>w.sc.glif</string>
  </dict>
</plist>
